<<<<<<< HEAD
body {
    color: red;
}
article {
    color: blue;
}
#paragraph1 {
    color: green;
=======
body {
    color: red;
}
article {
    color: blue;
}
#paragraph1 {
    color: green;
>>>>>>> ec93ad1f180bd22fbe8c11e67349a6e0d261e34f
}